notify-modal #notify-bis-modal .notify {
    position: fixed;
    width: calc(100% - 30px);
    max-width: 500px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    z-index: 999999;
    transform: translateY(-50%);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px #0000008f;
}

notify-modal #notify-bis-modal .notify modal-header .modal-title {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.25;
    padding-right: 20px;
}

notify-modal #notify-bis-modal .notify modal-header p {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

notify-modal #notify-bis-modal .notify modal-header .close {
    position: absolute;
    font-size: 44px;
    color: #000;
    opacity: .7;
    top: 3px;
    right: 25px;
    padding: 0;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .channel_select .channels {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .channel_select .channels .chennel_type {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 10px 15px;
    background-color: #e9e6e6;
    border: 1px solid #ccc;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .channel_select .channels .chennel_type.active {
    background-color: #3e5b58;
    color: #fff;
    border-color: #3e5b58;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .product-title {
    margin-bottom: 10px;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .email input {
    width: 100%;
    margin-bottom: 15px;
}

notify-modal #notify-bis-modal .form-horizontal .control-group button {
    border-color: var(--colorBtnPrimary);
    width: 100%;
    margin-bottom: 10px;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .email input {
    width: 100%;
    margin-bottom: 15px;
}

notify-modal #notify-bis-modal .form-horizontal .control-group button {
    border-color: var(--colorBtnPrimary);
    width: 100%;
    margin-bottom: 10px;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone {
    display: flex;
    margin-bottom: 15px;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box {
    flex: 1;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box input {
    width: 100%;
    border-left: none;
    border-color: #ccc;
}

notify-modal #notify-bis-modal .form-horizontal .form-group input:focus,
notify-modal #notify-bis-modal .form-horizontal .form-group select:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: none;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .country-dropdown select {
    border-color: #ccc;
}

notify-modal #notify-bis-modal.modal-active .notify-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 9;
    opacity: 0.5;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .country-dropdown select option {
    background-repeat: no-repeat;
    background-size: 30px;
    display: block;
    width: 30px;
}

notify-modal .form-errors ul{
    margin: 0;
}
.select-menu .options {
    width: 90px;
    padding: 10px;
    margin-top: 10px;
    /* background: #fff; */
    margin: 0;
    padding: 0;
    align-items: flex-start;
    cursor: pointer;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    z-index: 1;
}
.select-menu .options .option {
    border-top: 1px solid #ccc;
    list-style: none;
    margin-bottom: 0;
    line-height: 0;
    height: 40px;
    padding: 8px 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.select-menu .options .option:first-child {
    border-top: none;
}
/* .select-menu .options .option:hover {
    background: #f2f2f2;
} */
/* .select-menu .options .option .option-text {
    font-size: 16px;
    color: rgb(72, 72, 70);
} */
.select-menu .options li:not(:first-child) {
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: .35s;
    animation-fill-mode: both;
    -webkit-animation-duration: .35s;
    -webkit-animation-fill-mode: both;
    display: none;
}
.select-menu.active .options li:not(:first-child) {
    /* display: flex; */
    /* opacity: 0;
    z-index: 10; */
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    display: block;
}

.select-menu .options .option .option-img {
    width: 35px;
}

.select-menu {
    position: relative;
}

.select-menu svg {
    position: absolute;
    right: 5px;
    width: 14px;
    height: auto;
    top: 18px;
}

.error_message.alert.alert-danger{
    color: red;
    margin: 5px 0;
    font-style: italic;
}

.success{
    color: green;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box .cc-picker {
    flex: 0 0 100px;
    max-width: 100px;
    border: 1px solid #ccc;
    padding: 8px 18px 8px 10px;
    min-height: 42px;
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box .cc-picker .cc-picker-code {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: var(--typeBaseSize);
    letter-spacing: var(--typeBaseSpacing);
    line-height: var(--typeBaseLineHeight);
}

notify-modal #notify-bis-modal .form-horizontal .form-group .phone .phone_box .cc-picker.cc-picker-code-select-enabled:after {
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

@media only screen and (max-width:767px) {
    .select-menu .options .option .option-img {
        width: 25px;
    }
    .select-menu svg {
        width: 12px;
        top: 18px;
    }
    .select-menu .options {
        width: 70px;
    }
}

notify-container button.notify{
    font-weight: 400;
    font-size: 15px;
    margin-top:15px;
}