#editor.scaled-preview {
  position: relative;
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

#eidImage {
  width: 100%;
  height: auto;
}

#textOverlay {
  position: absolute;
  top: 70.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: rgb(83, 194, 149);
  z-index: 1;
  text-align: center;
  width: 100%;
}

#exportEditor {
  position: absolute;
  left: -9999px;
  top: 0;
  width: 1080px;
  height: 1350px;
}

#eidImageExport {
  width: 1080px;
  height: 1350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#textOverlayExport {
  position: absolute;
  top: 70.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
  color: rgb(83, 194, 149);
  z-index: 1;
  text-align: center;
  width: 100%;
}

.employee-page {
  padding: 100px 0;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.employee-page input {
  padding: 10px 20px;
  border: 1px solid gray;
  width: 100%;
}
.employee-page button {
  background-color: #fff;
  padding: 8px 20px;
  border: 1px solid #53bd94;
  color: #53bd94;
}
.form-feild {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  #textOverlay {
    font-size: 5vw;
  }

  .employee-page {
    padding: 20px 10px;
  }

  .employee-page input,
  .employee-page button {
    width: 100%;
    font-size: 14px;
  }
}
